{
  "extends": ["alloy", "alloy/react", "alloy/typescript"],
  "plugins": ["react-hooks", "import", "prefer-arrow", "@emotion"],
  "env": {},
  "globals": {},
  "rules": {
//    "@emotion/jsx-import": "error"
  }
}
